body {
  width: 76%;
  margin-left: 10%;
}

.wrapper{
  display: grid;
  grid-template-columns: 1.8fr 1.3fr 1fr;
  grid-template-rows: 700px;
  grid-gap: 30px;
}

.wrapper>div,
footer {
  padding: 1%;
  border: 2px solid black;
  background-color: red;
}

footer{
  grid-column: 1 / span 3;
}